header{
  text-align: center;
  padding-top: 16px;
 }
body {
    padding-top: 10px;
  }
.col {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-top: -17px;
  margin-left: 15px;
 }
 .col-sm-2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  margin-top: -17px;
  padding-right: 30px;
  text-align: right;
 }
 .col-2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-align: left;
 }
.col-3 {
  text-align: right;
  margin-left: 5px;
}
.row {
  padding-top:25px;
  margin-bottom: 10px;
 }
.subheading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;  
  color: rgba(240, 108, 20, 1);
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
 }
.subheading-2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 35px;
 }
.row-sm-2{
  padding-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  text-align: left;
 }
button{
  width: 25px;
  height: 25px;
  background-color: white;
  font-size: 17px;
 }
 .clear {
   width: 90px;
   border-radius: 15px;
   background-color: rgba(174, 180, 188, 0.53);
 }
 .order {
   width: 70px;
   border-radius: 15px;
   background-color: rgba(132, 175, 241, 0.53);
 }
.listimage {
  width: 76px;
  height: 75px;
  margin-left: 30px;
}